<card-block card-proxy-attrs="$ctrl"
            loader="$ctrl.loader"
            need-show-leave-dialog="$ctrl.needShowLeaveDialog()">

  <div class="template-card box flex-column">
    <div class="template-card__header">

    </div>

    <div class="template-card__main">
    </div>

    <div class="btns__panel">
      <buttons-panel ng-if="true"
                     buttons="$ctrl.buttons"
                     max-main-buttons="3">
      </buttons-panel>
    </div>
  </div>
</card-block>
